.Navbar{
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #F1F6F9;
    background-color: black;
    height: 50px;
    box-shadow: 0px 2px 10px black;
}

#navbarHeading{
    margin-left: 10px;
}

#urlHeading{
    margin: 0px 5px;
    color: #75c9b7;
}

#shortenerHeading{
    margin: 0px 5px;
    color: #F1F6F9;
}

.Navbar button{
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    color: black;
    background-color: #75c9b7;
    width: 100px;
    font-weight: 600;
    cursor: pointer;
}

.Navbar button:hover{
    background-color: #e0fbfc;
}